---
layout: container
title: Studiengangebot (STG)
---

<!-- <form class="mt-5 mb-5">
  <div class="row">
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Zulassungsbeschränkt</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="zulassungsfrei">Zuslassungsfrei</option>
      <option value="zulassungsbeschraenkt">Zulassungsbeschränkt</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Art</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="bachelor">Bachelor-Studium</option>
      <option value="master">Master-Studium</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Studienbeginn</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="">Filter wählen</option>
      <option value="sommersemester">Sommersemester</option>
      <option value="wintersemester">Wintersemester</option>
    </select>
  </div>
  </div>
  <button type="filterSelection(value)" class="btn my-1 btn-sm btn-primary">Filter zurücksetzen</button>
</form> -->

<p class="text-muted small"><i class="fas fa-filter"></i> Die Filter funktionieren als UND-Filter (logischer UND-Operator). Somit schränkt jeder zusätzlich hinzugefügte Filter die Ergebnisliste ein.</p>
<p class="text-muted small">Es sind Filter via URL möglich.</p>
<ul class="text-muted small">
  <li><a href="{{site.url}}{{page.url}}#bachelor.dual">{{site.url}}{{page.url}}<strong>#bachelor.dual</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#master">{{site.url}}{{page.url}}<strong>#master</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#hochschulstudium">{{site.url}}{{page.url}}<strong>#hochschulstudium</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#bw-b">{{site.url}}{{page.url}}<strong>#bw-b</strong></a> <em>Die STG-Kurzbezeichnung mit Abschluss ist ein unsichtbarer Filter für uns.</em></li>
</ul>

<div class="row">
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Abschluss</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".bachelor">Bachelor</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".master">Master</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".zertifikat">Zertifikat</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".seminar"><abbr title="Seminar anstatt 'kein Abschluss'">Seminar</abbr></button>  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienformat</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".vollzeit">Vollzeit</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".teilzeit">Teilzeit</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".berufsbegleitend">Berufsbegleitend</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".dual">Dual</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".weiterbildend">Weiterbildend</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".seminar">Seminar</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienbeginn</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".sommersemester" disabled>Start im Sommersemester</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".wintersemester" disabled>Start im Wintersemester</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienrichtung</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".technik">Technik</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".soziales">Soziales</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".wirtschaft">Wirtschaft</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".gestaltung">Gestaltung</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Hauptunterrichtssprache</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".deutsch" disabled>Deutsch</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".englisch" disabled>Englisch</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4 underline">Zulassungsmodus</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".zulassungsfrei" disabled>zulassungsfrei</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".zulassungsbeschraenkt" disabled>zulassungsbeschränkt</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".eignungspruefung" disabled>Eignungsprüfung</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".eignungsfeststellungsverfahren" disabled>Eignungsfeststellungsverfahren</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".eignungsverfahren" disabled>Eignungsverfahren</button>
  </div>
</div>


<!-- <form class=""> -->
  <!-- <div class="form-group">
    <label for="exampleFormControlSelect2">Zulassungsvorraussetzungen</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option type="button" data-toggle=".zulassungsfrei">zulassungsfrei</option>
      <option type="button" data-toggle=".zulassungsbeschraenkt">Zulassungsbeschränkt</option>
    </select>
  </div> -->
<!-- </form> -->

<!-- <hr> -->
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".allgemeine">Allgemeine Hochschulreife</button> -->
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".fachgebundene">Fachgebundene Hochschulreife</button> -->
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".hochschulstudium">Abgeschlossnes Hochschulstudium</button> -->
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".dual">Dual studieren</button> -->
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".doppelabschluss">Doppelabschluss</button> -->
<hr>

<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="order:asc"><i class="fas fa-sort-alpha-down"></i></button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="order:descending"><i class="fas fa-sort-alpha-up"></i></button>
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="random">Random</button> -->
<button type="button" class="ml-4 btn my-1 btn-sm btn-primary float-right" data-filter="all">Filter zurücksetzen</button>


<div id="filter" class="my-5 mix-studienangebot">
  {% for stg in site.data.3478_fachrichtung %}
  <div data-order="{{ stg.fachrich }}-{{ stg.text }} ({{ stg.titelkz_m_vz }})" class="
        mb-0 mix
        {{ stg.stg_kurz | downcase  }}
        {{ stg.text | downcase }}
        {{ stg.studien_begin | join: " " | downcase }}
        {% case stg.zuordnung %}
          {% when "T" %}technik
          {% when "W" %}wirtschaft
          {% when "S" %}soziales
          {% when "G" %}gestaltung
        {% endcase %}
        {{ stg.sprachen.haupt_sprache | join: " " | downcase }}
        {% case stg.zulassungs_beschraenkt %}
          {% when 1 %}zulassungsfrei
          {% when 2 %}zulassungsbeschraenkt
          {% when 3 %}eignungspruefung
          {% when 4 %}eignungsfeststellungsverfahren
          {% when 5 %}eignungsverfahren
        {% endcase %}
        {{ stg.hzb | join: " " | downcase }}
        {% if stg.dual == true %}dual{% endif %}
        {% if stg.doppel_abschluss == true %}doppelabschluss{% endif %}
        {% if stg.berufsbegleitend == "B" %}berufsbegleitend{% endif %}
        {% if stg.rsem_tz	!= "0" %}teilzeit{% endif %}
        {% if stg.rsem_vz != "0" %}vollzeit{% endif %}
        {% if stg.rsem_dual != "0" %}dual{% endif %}
        {% if stg.fachrich contains "eiterbild" %}weiterbildend{% endif %}
      ">
    <h6 class="my-4"><a href="{{ stg.dateiname | datapage_url: 'stg' }}" title="Studiengangsdetails aufrufen">{{ stg.fachrich }} {{ stg.text | upcase }} {% if stg.titelkz_m_vz != "" %}({{ stg.titelkz_m_vz }}){% else %}{% endif %}</a>
      {% assign stg_richtung = stg.zuordnung %}
      {% case stg_richtung %}
        {% when "T" %}{{ site.badge_technik }}
        {% when "S" %}{{ site.badge_soziales }}
        {% when "W" %}{{ site.badge_wirtschaft }}
        {% when "G" %}{{ site.badge_gestaltung }}
      {% endcase %}
      </h6>
  </div>
  {% endfor %}
  <!-- <div class="failed" data-order="">
    Dieser Filter liefert keinen Ergebnisse zurück.
  </div> -->
</div>
