---
layout: container
title: Studiengangebot (STG)
---

{% include feedback_filter.html %}

<!-- <form class="mt-5 mb-5">
  <div class="row">
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Zulassungsbeschränkt</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="zulassungsfrei">Zuslassungsfrei</option>
      <option value="zulassungsbeschraenkt">Zulassungsbeschränkt</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Art</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="bachelor">Bachelor-Studium</option>
      <option value="master">Master-Studium</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Studienbeginn</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="">Filter wählen</option>
      <option value="sommersemester">Sommersemester</option>
      <option value="wintersemester">Wintersemester</option>
    </select>
  </div>
  </div>
  <button type="filterSelection(value)" class="btn rounded-0 my-1 btn-sm btn-primary">Filter zurücksetzen</button>
</form> -->

<p class="text-muted small"><i class="fas fa-filter"></i> Die Filter funktionieren als UND-Filter (logischer UND-Operator). Somit schränkt jeder zusätzlich hinzugefügte Filter die Ergebnisliste ein.</p>
<p class="text-muted small">Es sind Filter via URL möglich.</p>
<ul class="text-muted small">
  <li><a href="{{site.url}}{{page.url}}#bachelor.dual">{{site.url}}{{page.url}}<strong>#bachelor.dual</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#master">{{site.url}}{{page.url}}<strong>#master</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#fk09">{{site.url}}{{page.url}}<strong>#fk09</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#fk09.master">{{site.url}}{{page.url}}<strong>#fk09.master</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#bw-b">{{site.url}}{{page.url}}<strong>#bw-b</strong></a> <em>Die STG-Kurzbezeichnung mit Abschluss ist ein unsichtbarer Filter für uns.</em></li>
</ul>

<div class="row">
  <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
  <div class="col-md-4 mb-5">
    <div class="" style="position: sticky; top: 60px; z-index:999; max-height: 100vh; overflow-y: auto; overflow-x: hidden;">
      <h3>Filter</h3>

      <div class="">
        <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="order:asc"><i class="fas fa-sort-alpha-down"></i></button>
        <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="order:descending"><i class="fas fa-sort-alpha-up"></i></button>
        <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="random">Random</button> -->
        <button type="button" class="ml-4 btn rounded-0 my-1 btn-sm btn-primary float-right" data-filter="all">Filter zurücksetzen</button>
      </div>

      <hr>

      <p class="h6 mt-4">Abschluss</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".bachelor">Bachelor</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".master">Master</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".zertifikat">Zertifikat</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".seminar"><abbr title="Seminar anstatt 'kein Abschluss'">Seminar</abbr></button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4">Studienformat</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".vollzeit">Vollzeit</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".teilzeit">Teilzeit</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".berufsbegleitend">Berufsbegleitend</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".dual">Dual</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".weiterbildend">Weiterbildend</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".seminar">Seminar</button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4">Studienbeginn</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".sommersemester" >Start im Sommersemester</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".wintersemester" >Start im Wintersemester</button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4">Studienrichtung</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".technik">Technik</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".soziales">Soziales</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".wirtschaft">Wirtschaft</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".gestaltung">Gestaltung</button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4">Hauptunterrichtssprache</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".deutsch" disabled>Deutsch</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".englisch" disabled>Englisch</button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4 underline">Zulassungsmodus</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".zulassungsfrei" disabled>zulassungsfrei</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".zulassungsbeschraenkt" >zulassungsbeschränkt</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".eignungspruefung" disabled>Eignungsprüfung</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".eignungsfeststellungsverfahren" disabled>Eignungsfeststellungsverfahren</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".eignungsverfahren" disabled>Eignungsverfahren</button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4 underline">Sonstiges</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".mint">MINT</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".dosv"><abbr title="Dialogorientiertes Serviceverfahren durch Hochschulstart">DoSV</abbr></button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".bewStr"><abbr title="Bewerbung auf bestimmte Studienrichtung">Bewerbung auf Studienrichtung</abbr></button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".bewSp"><abbr title="Bewerbung auf bestimmten Studienschwerpunkt">Bewerbung auf Studienschwerpunkt</abbr></button>
      <!-- </div> -->
      <!-- <div class="col-xl-3 co-md-4 col-sm-6"> -->
      <p class="h6 mt-4 underline">Fakultät</p>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk01">FK01</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk02">FK02</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk03">FK03</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk04">FK04</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk05">FK05</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk06">FK06</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk07">FK07</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk08">FK08</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk09">FK09</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk10">FK10</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk11">FK11</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk12">FK12</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk13">FK13</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk14">FK14</button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fk21">FK21</button>
      <!-- </div> -->
      <!-- </div> -->



      <!-- <form class=""> -->
      <!-- <div class="form-group">
    <label for="exampleFormControlSelect2">Zulassungsvorraussetzungen</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option type="button" data-toggle=".zulassungsfrei">zulassungsfrei</option>
      <option type="button" data-toggle=".zulassungsbeschraenkt">Zulassungsbeschränkt</option>
    </select>
  </div> -->
      <!-- </form> -->

      <!-- <hr> -->
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".allgemeine">Allgemeine Hochschulreife</button> -->
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".fachgebundene">Fachgebundene Hochschulreife</button> -->
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".hochschulstudium">Abgeschlossnes Hochschulstudium</button> -->
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".dual">Dual studieren</button> -->
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-toggle=".doppelabschluss">Doppelabschluss</button> -->
      <hr>

      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="order:asc"><i class="fas fa-sort-alpha-down"></i></button>
      <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="order:descending"><i class="fas fa-sort-alpha-up"></i></button>
      <!-- <button type="button" class="btn rounded-0 my-1 btn-sm btn-outline-dark" data-sort="random">Random</button> -->
      <button type="button" class="ml-4 btn rounded-0 my-1 btn-sm btn-primary float-right" data-filter="all">Filter zurücksetzen</button>
    </div>
  </div>

  <div class="col-md-8">
    <h3>Studiengänge</h3>
    <div id="filter" class="my-5 mix-studienangebot">
      {% assign stg = site.data.3478_fachrichtung | where_exp: "search", "search.nummer != '99'" | where_exp: "search", "search.aaspf_echt != ''" | where_exp: "search", "search.aaspf_echt != 'D'" %}
      {% assign stg = stg  | sort: "fachrich" %}
      {% for stg in stg %}
      <div data-order="{{ stg.fachrich }}-{{ stg.text }} ({{ stg.titelkz_m_vz }})" class="
        mb-0 mix
        {{ stg.stg_kurz | downcase  }}
        fk{{ stg.nummer }}
        {{ stg.text | downcase }}
        {{ stg.studien_begin | join: " " | downcase }}
        {% if stg.bew_str_de != ""%}
          bewStr
        {% endif %}
        {% if stg.bew_sp_de != "" %}
          bewSp
        {% endif %}
        {% if stg.mint == "X" %}
          mint
        {% endif %}
        {% case stg.zuordnung %}
          {% when "T" %}technik
          {% when "W" %}wirtschaft
          {% when "S" %}soziales
          {% when "G" %}gestaltung
        {% endcase %}
         {{ stg.sprachen.haupt_sprache | join: " " | downcase }}
         {% if stg.dosv == "X" %}
           zulassungsbeschraenkt
         {% endif %}
         {% if stg.dosv == "X" %}
           dosv
         {% endif %}
        {% case stg.zulassungs_beschraenkt %}
          {% when 1 %}zulassungsfrei
          {% when 2 %}zulassungsbeschraenkt
          {% when 3 %}eignungspruefung
          {% when 4 %}eignungsfeststellungsverfahren
          {% when 5 %}eignungsverfahren
        {% endcase %}
        {{ stg.hzb | join: " " | downcase }}
        {% if stg.stg_kurz == "BI-B" %}dual{% endif %}
        {% if stg.doppel_abschluss == true %}doppelabschluss{% endif %}
        {% if stg.berufsbegleitend == "B" %}berufsbegleitend{% endif %}
        {% if stg.rsem_tz	!= "0" %}teilzeit{% endif %}
        {% if stg.rsem_vz != "0" %}vollzeit{% endif %}
        {% if stg.fachrich contains "eiterbild" %}weiterbildend{% endif %}

        {% if stg.aaspf_echt == "B" or stg.aaspf_echt == "M" %}
        {% if site.stg_begin_sose contains stg.stg_kurz %}
          sommersemester
        {% elsif site.stg_begin_wise contains stg.stg_kurz %}
          wintersemester
        {% else %}
          sommersemester wintersemester
        {% endif %}
        {% elsif stg.aaspf_echt == "Z" %}
        {% endif %}
      ">
        <div class="card mb-3 rounded-0">
          <div class="row no-gutters">
            <div class="col-md-2
          {% assign stg_richtung = stg.zuordnung %}
          {% if stg_richtung != "" %}
            {% case stg_richtung %}
              {% when "T" %}bg-hm-blau
              {% when "S" %}bg-hm-gelb
              {% when "W" %}bg-hm-gruen
              {% when "G" %}bg-hm-hellgrau
            {% endcase %}
          {% else %}
            bg-dark
          {% endif %}
          ">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <p class="card-text"><small class="text-muted">
                    {% assign stg_richtung = stg.zuordnung %}
                    {% case stg_richtung %}
                    {% when "T" %}{{ site.badge_technik }}
                    {% when "S" %}{{ site.badge_soziales }}
                    {% when "W" %}{{ site.badge_wirtschaft }}
                    {% when "G" %}{{ site.badge_gestaltung }}
                    {% endcase %}
                    {% if stg.mint == "X" %}
                      <span class="badge badge-info">MINT</span>
                    {% endif %}
                  </small>
                  <span class="float-right text-muted"><small>Fakultät&nbsp;{{ stg.nummer }}</small></span>
                </p>
                <h5 class="card-title hyphens mb-0"><small>{{ stg.text | upcase }}{% if stg.titelkz_m_vz != "" %}&nbsp;({{ stg.titelkz_m_vz }}){% else %}{% endif %}</small><br>{{ stg.fachrich }}</h5>
                <!-- <p class="card-text">{{ stg._name }}</p> -->
                {% if stg.bew_str_de != "" or stg.bew_sp_de != "" %}
                  <p class="card-text">
                    {{ stg.bew_str_de | replace: "#", ", " }}{{ stg.bew_sp_de | replace: "#", ", " }}{{ site.badge_p }}
                  </p>
                {% endif %}
                <a href="{{ stg.dateiname | datapage_url: 'stg' }}" class="btn rounded-0 btn-sm btn-outline-dark stretched-link">Studiengangsdetails aufrufen</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- <div class="failed" data-order="">
          Dieser Filter liefert keinen Ergebnisse zurück.
        </div> -->
      </div>
    </div>
  </div>
