---
layout: container
title: Studiengangebot (STG)
---

<!-- <form class="mt-5 mb-5">
  <div class="row">
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Zulassungsbeschränkt</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="zulassungsfrei">Zuslassungsfrei</option>
      <option value="zulassungsbeschraenkt">Zulassungsbeschränkt</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Art</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="all">Alles anzeigen</option>
      <option value="bachelor">Bachelor-Studium</option>
      <option value="master">Master-Studium</option>
    </select>
  </div>
  <div id="myBtnContainer" class="form-group">
    <label class="text-muted" for="myBtnContainer">Studienbeginn</label>
    <select class="form-control" id="myBtnContainer" onchange="filterSelection(value)">
      <option value="">Filter wählen</option>
      <option value="sommersemester">Sommersemester</option>
      <option value="wintersemester">Wintersemester</option>
    </select>
  </div>
  </div>
  <button type="filterSelection(value)" class="btn my-1 btn-sm btn-primary">Filter zurücksetzen</button>
</form> -->

<p class="text-muted small"><i class="fas fa-filter"></i> Die Filter funktionieren als UND-Filter (logischer UND-Operator). Somit schränkt jeder zusätzlich hinzugefügte Filter die Ergebnisliste ein.</p>
<p class="text-muted small">Es sind Filter via URL möglich.</p>
<ul class="text-muted small">
  <li><a href="{{site.url}}{{page.url}}#bachelor.dual">{{site.url}}{{page.url}}<strong>#bachelor.dual</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#master">{{site.url}}{{page.url}}<strong>#master</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#hochschulstudium">{{site.url}}{{page.url}}<strong>#hochschulstudium</strong></a></li>
  <li><a href="{{site.url}}{{page.url}}#bw-b">{{site.url}}{{page.url}}<strong>#bw-b</strong></a> <em>Die STG-Kurzbezeichnung mit Abschluss ist ein unsichtbarer Filter für uns.</em></li>
</ul>

<div class="row">
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Abschluss</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".bachelor">Bachelor</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".master">Master</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienformat</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".bachelor">Bachelor</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".master">Master</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienbeginn</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".sommersemester">Start im Sommersemester</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".wintersemester">Start im Wintersemester</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Studienrichtung</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".technik">Technik</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".soziales">Soziales</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".wirtschaft">Wirtschaft</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".gestaltung">Gestaltung</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Hauptunterrichtssprache</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".deutsch">Deutsch</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".englisch">Englisch</button>
  </div>
  <div class="col-xl-3 co-md-4 col-sm-6">
    <p class="h6 mt-4">Zulassungsvorraussetzungen</p>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".zulassungsbeschraenkt">zulassungsbeschränkt</button>
    <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".zulassungsfrei">zulassungsfrei</button>
  </div>
</div>

<hr>

<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".allgemeine">Allgemeine Hochschulreife</button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".fachgebundene">Fachgebundene Hochschulreife</button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".hochschulstudium">Abgeschlossnes Hochschulstudium</button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".dual">Dual studieren</button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-toggle=".doppelabschluss">Doppelabschluss</button>
<hr>

<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="order:asc"><i class="fas fa-sort-alpha-down"></i></button>
<button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="order:descending"><i class="fas fa-sort-alpha-up"></i></button>
<!-- <button type="button" class="btn my-1 btn-sm btn-outline-secondary" data-sort="random">Random</button> -->
<button type="button" class="ml-4 btn my-1 btn-sm btn-primary float-right" data-filter="all">Filter zurücksetzen</button>


<div id="filter" class="my-5 mix-studienangebot">
  {% for stg in site.data.stg %}
  <div data-order="{{ stg.fachrich }}-{{ stg.abschluss }} ({{ stg.grade_kurz }})" class="
        mb-0 mix
        {{ stg.stg_kurz_abschluss_kurz | downcase  }}
        {{ stg.stg_kurz_abschluss_kurz }}
        {{ stg.abschluss | downcase }}
        {{ stg.studien_begin | join: " " | downcase }}
        {{ stg.studien_richtung | join: " " | downcase }}
        {{ stg.sprachen.haupt_sprache | join: " " | downcase }}
        {% if stg.zulassungs_beschraenkt == true %}zulassungsbeschraenkt{% else %}zulassungsfrei{% endif %}
        {{ stg.hzb | join: " " | downcase }}
        {% if stg.dual == true %}dual{% endif %}
        {% if stg.doppel_abschluss == true %}doppelabschluss{% endif %}
      ">
    <h6><a href="{{ stg.dateiname | datapage_url: 'stg' }}">{{ stg.fachrich }}-{{ stg.abschluss }} ({{ stg.grade_kurz }})</a></h6>
    <p>{{ stg.studien_art }}</p>
  </div>
  {% endfor %}
  <!-- <div class="failed" data-order="">
    Dieser Filter liefert keinen Ergebnisse zurück.
  </div> -->
</div>
