---
layout: container-fluid
title: Studiengänge vergleichen (Merkliste)
---
<p class="float-right d-print-none"><a href="#" class="btn btn-link btn-sm showbadges" style="cursor: pointer;">Datenherkunft anzeigen</a> <a href="#" class="btn btn-link btn-sm hidebadges" style="cursor: pointer; display: none;">Datenherkunft
    verstecken</a>
  <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
</p>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" width="25%" style="min-width:250px">{{ site.badge_p }}</th>
        {% for item in site.data.stg %}
        <th scope="col" width="25%" style="min-width:250px">
          <a href="{{ site.url }}/stg/{{ item.dateiname }}" class="">
            {{ item.fachrich }} ({{ item.grade_kurz | replace: " ", "&nbsp;" }})
          </a>
          <br><small>{{ item.fachriche }}</small>
          <br><small>{% assign stg_richtung = item.studien_richtung %}
            {% case stg_richtung %}
            {% when "Technik" %}{{ site.badge_technik }}
            {% when "Soziales" %}{{ site.badge_soziales }}
            {% when "Wirtschaft" %}{{ site.badge_wirtschaft }}
            {% when "Gestaltung" %}{{ site.badge_gestaltung }}
            {% endcase %}</small></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-uppercase">Art des Studiums{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>{{ item.studien_art }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Dual studierbar</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.dual == true %}
          <i class="fas fa-check-circle text-success"></i>
          {% else %}
          <i class="fas fa-times-circle text-danger"></i>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr class="col-md-6">
        <th scope="row" class="text-uppercase">Studienort</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.studien_ort != nil %}
          <span class="d-block">{{ item.studien_ort | join: '</span><span class="d-block">' }}</span>
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Regelstudienszeit{{ site.badge_p }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.regelstudien_zeit.voll_zeit != nil %}
          <span class="d-blocj">{{ item.regelstudien_zeit.voll_zeit }} Semester Vollzeit</span>
          {% endif %}
          {% if item.regelstudien_zeit.teil_zeit != nil %}
          <span class="d-block">{{ item.regelstudien_zeit.teil_zeit }} Semester Teilzeit</span>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Zu erreichende ECTS{{ site.badge_p }}</th>
        {% for item in site.data.stg %}
        <td>{{ item.ects }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Studienbeginn{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>{{ item.studien_begin | join: " und "}}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Zulassungs&shy;vorraussetzungen{{ site.badge_cms }}
          <br><small><em>Ein punkt muss zutreffen</em></small>
        </th>
        {% for item in site.data.stg %}
        <td>
            <ul style="padding-left:15px">
              {% for item in item.hzb %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          <!-- {% for item in item.hzb %}
          <span class="d-block">{{ item }}</span>
          {% endfor %} -->
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Zulassungmodus{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>
          {% case item.zulassungs_beschraenkt %}
            {% when 1 %}Zulassungsfrei
            {% when 2 %}Zulassungsbeschränkt
            {% when 3 %}Eignungsprüfung
            {% when 4 %}Eignungsfeststellungsverfahren
          {% endcase %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Zulassungs&shy;zahlen{{ site.badge_p }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.zulassungs_beschraenkt == true %}
          <a href="{{ site.zulassungszahlen_url }}" target="_blank">{{ site.zulassungszahlen_url_text }}</a>
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Eignungs&shy;prüfung{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.eignungs_pruefung != nil %}
          {% for item in item.eignungs_pruefung %}
          <span class="d-block">{{ item }}</span>
          {% endfor %}
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Vorpraxis (Vorpraktikum){{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.vor_praxis != nil %}
          {% for item in item.vor_praxis %}
          <span class="d-block">{{ item }}</span>
          {% endfor %}
          {% if item.vor_praxis_wochen != nil%}
          <span class="d-block">Die Vorpraxis (Vorpraktikum) besteht aus insgesamt {{ item.vor_praxis_wochen }}&nbsp;Wochen.</span>
          <span class="d-block"><a href="https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_lokal/hauptabteilung2/bereichimma_1/pdfsinfoszurbewerbung/Hinweise_Vorpraktikum.pdf" target="_blank">Weitere Informationen zur Vorpraxis
              (Vorpraktikum)</a> </span>
          {% endif %}
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Hauptunterrichts&shy;sprache{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>{{ item.sprachen.haupt_sprache  | join: " und "}}
          {% if item.sprachen.weitere_sprachen != nil %}
          <p>Weitere Spachen: {{ item.sprachen.weitere_sprachen | join: ", " }}</p>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr class="col-md-6">
        <th scope="row" class="text-uppercase">Praxissemester{{ site.badge_p }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.praxis_semester != nil %}
          Im {{ item.praxis_semester }} Semester muss ein
          {% if item.praxis_semester_dauer != nil %}
          {{ item.praxis_semester_dauer }}-wöchiges
          {% endif %}
          Praktikum absolviert werden.
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>

      <tr class="col-md-6">
        <th scope="row" class="text-uppercase">Doppelabschluss</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.doppel_abschluss == true %}
          <i class="fas fa-check-circle text-success"></i>
          <span class="d-block">{{ item.doppel_abschluss_partner_uni | join: '</span><span class="d-block">'}}</span>
          {% else %}
          <i class="fas fa-times-circle text-danger"></i>
          {% endif %}
        </td>
        {% endfor %}
      </tr>

      <tr class="col-md-6">
        <th scope="row" class="text-uppercase">Auslandssemester{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>
          {% if item.auslands_semester == true %}
          Auslandsemester möglich{% if item.auslands_semester_semester != nil %}; empfohlen im {{ item.auslands_semester_semester}}&nbsp;Semester
          {% endif %}
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Semesterbeiträge{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        <td>
          <span class="d-block">Grundbeitrag Studentenwerk 75,00&nbsp;Euro</span>
          <span class="d-block">Solidarbeitrag Semesterticket 67,00&nbsp;Euro</span>
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Studiengebühren{{ site.badge_cms }}</th>
        <!-- https://github.com/23maverick23/jekyll-humanize -->
        {% for item in site.data.stg %}
        <td>
          {% if item.kosten != nil %}
          {{ item.kosten }}&nbsp;Euro
          {% if item.kosten_intervall != nil %}
            {{ item.kosten_intervall }}
          {% endif %}
          <br>
          <a href="{{ item.url_stg }}" target="_blank">Weitere Informationen bzw. Zahlungsmodalitäten</a>
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Studienschwerpunkte{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        {% assign items = item.studien_schwerpunkte %}
        <td>
          {% if items != nil %}
          <ul class="list-unstyled">
            {% assign items = items | sort %}
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase">Studienrichtungen{{ site.badge_cms }}</th>
        {% for item in site.data.stg %}
        {% assign items = item.studien_richtungen %}
        <td>
          {% if items != nil %}
          <ul class="list-unstyled">
            {% assign items = items | sort %}
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% else %}
          —
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" class="text-uppercase"></th>
        {% for item in site.data.stg %}
        <td><a href="{{ site.url }}/stg/{{ item.dateiname }}" class="">
            Studiengang im Detail anzeigen
          </a></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
